.Menu {
  box-sizing: border-box;
  padding: 8px 8px 8px 0;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  min-height: 400;
}

.MenuMenu {
  box-sizing: border-box;
  padding: 8px 8px 8px 0;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  min-height: 400;
}

.Menu > button[hidden] {
  visibility: hidden;
}

.Menu > button {
  margin-left: auto;
  display: block;
  background-color: aqua;
  font-size: 18px;
  border: none;
  border-radius: 4px;
  padding: 16px;
  box-sizing: border-box;
  cursor: pointer;
}

.Links {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

.Links > a {
  width: 2em;
  height: 2em;
  transition: filter .6s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

.License {
  background-image: url('icons/note.svg');
}

.Repo {
  background-image: url('icons/octocat.svg');
}

@media (min-height: 731px) {
  .Menu {
    box-sizing: border-box;
    padding: 8px 8px 8px 0;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    border-top: 10px solid yellow;
  }
}